# Build artifacts
build/
cmake-build/
cmake-build-debug/
cmake-build-release/
support/

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# GDB
.gdbinit

# Backup
jdk.hotspot.agent.bak/
config.log
configure.log
